<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie delete</title>
</head>

<body>
    <h1>Are you sure you want to delete <%= thisMovie.title %>???</h1>
    <p>
        <form action="/movies/delete/<%= thisMovie.id %>" method="POST">
            <button type="submit">Delete movie!</button>
        </form>
    </p>
    <p><a href="/movies"><button>Back to movie index</button></a></p>
</body>

</html>